/*--- Typography ---*/

/*--- General stuff ---*/

.no-spacing {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.small-spacing {
  margin: .5em;
}

.medium-spacing {
  margin: 1em;
}

.large-spacing {
  margin: 1.5em;
}

.medium-h-spacing {
  margin-bottom: 1em;
  margin-top: 1em;
}

.large-h-spacing {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.large-v-spacing {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.bottom-spacing {
  margin-bottom: 1.5em;
}

/*--- Zone user ---*/

.zone-user-wrapper {
  background-color: #f1f1f1;
}

.zone-user {
  text-align: right;
}

.zone-user .user-menu {
  float: right;
}

/*--- Zone branding ---*/

.region-branding-inner {
  margin: 0 auto;
  min-height: 100px;
  width: 1000px;
}

.logo-img {
  margin: 30px auto;
  width: 1000px;
}

.block-slogan {
  background-color:rgb(255,255,255);
  background-color: rgba(200, 200, 200, .7);
  border-radius: 5px;
  color: Black;
  padding: 5px 10px 0 10px;
  position: absolute;
  right: 90px;
  top: 30px;
  width: 500px;
}

.block-slogan h2 {
  display: none;
}

/*--- Zone content ---*/

.zone-content-wrapper {
  padding: 20px 0;
  text-align: center;
}

.views-widget-filter-field_date_value>label {
  display: none;
}


/*--- Material view ---*/

.view-material {
  font-size: 16px;
  line-height: 30px;
}

.view-material .views-table caption {
  background: #e1e1e1;
  border-bottom: 1px solid #cdcdcd;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.view-material .views-table {
  background-color: #f1f1f1;
  border-top: 1px solid #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin: 0 0 20px;
  padding: 20px;
}

.view-material .views-table .x td {
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.view-material .views-table .x:hover {
  background-color: #fff;
  text-decoration: underline;
}



/*--- Override exposed views ---*/

.region-content-inner {
  margin: auto;
  width: 1000px;
}

.views-exposed-form .views-exposed-widget {
  float: left;
  padding: 0;
}

.views-exposed-form label {
  color: #666;
  float: none;
  text-align: center;
  width: 100%;
}

.views-exposed-form .views-exposed-widget #edit-field-date-value-min-wrapper,
.views-exposed-form .views-exposed-widget #edit-field-date-value-max-wrapper,
.views-exposed-form #edit-field-dep-value-wrapper {
  float: left;
}

.views-exposed-form .views-exposed-widget input,
.views-exposed-form .views-exposed-widget select {
  color: #333;
  font-size: 24px;
  width: 135px;
  height: 43px;
  text-align: center;
}

.views-exposed-form .views-exposed-widget select {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 53px;
  padding: 8px 5px;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin: 23px 0 0 20px;
  min-height: 53px;
  padding: 4px 20px;
}

/* Flexi background (fix for IE8) */
img#expando {
display: none;
position: absolute;
z-index: 1;
-ms-interpolation-mode: bicubic;
}
 
.wide img#expando,
.tall img#expando {
display: block;
}
 
.wide img#expando {
height: auto;
width: 100%;
}
 
.tall img#expando {
height: 100%;
width: auto;
}