/*--- Typography ---*/

/*--- General stuff ---*/

.no-spacing {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.small-spacing {
  margin: .5em;
}

.medium-spacing {
  margin: 1em;
}

.large-spacing {
  margin: 1.5em;
}

.medium-h-spacing {
  margin-bottom: 1em;
  margin-top: 1em;
}

.large-h-spacing {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.large-v-spacing {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.bottom-spacing {
  margin-bottom: 1.5em;
}

/*--- Zone user ---*/

.zone-user-wrapper {
  background-color: #f1f1f1;
}

.zone-user {
  text-align: right;
}

.zone-user .user-menu {
  float: right;
}

/*--- Zone branding ---*/

.zone-branding-wrapper {
  background: url('../gfx/branding-bg.png') repeat-x;
  padding: 38px 0;
  text-align: center;
}

/*--- Site name ---*/

.site-name a {
  color: #fff;
  font-size: 50px;
  -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-transform: uppercase;
}

.site-name a:link,
.site-name a:visited,
.site-name a:hover,
.site-name a:active {
  color: #fff;
  text-decoration: none;
}

/*--- Site slogan ---*/

.site-slogan {
  color: #fff;
  line-height: 100%;
}

/*--- Material view ---*/


.view-material {
  font-size: 24px;
  line-height: 30px;
}

